*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
body{
    background:linear-gradient(145deg, #1e3a8a,#6d28d9) ;
}
.todo{
    background-color: white;
    width: 500px;
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 30px 200px 70px 20px;
}
.todo h1{
    font-weight: 900;
    color: #1e3a8a;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}
.todo img{
    width: 40px;

}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 238, 238);
    padding-left: 20px;
    border-radius: 40px;
}
.row input{
    height: 40px;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
}
.row button{
    border-radius: 40px;
    padding: 16px 45px ;
    font-weight: 700;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: rgb(221, 82, 31);
    color: white;
    cursor: pointer;

}
.list-container{
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 25px;

}

.list-container li{
    list-style: none;
    font-weight: 900;
    margin: 15px 0px;
    position: relative;
    cursor: pointer;
    user-select: none;

}
.list-container li::before{
    content: "";
    background-image: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35px;
    top: -3px;

}

.list-container li.checked::before{
    background-image: url(images/check-box.png);
}
.checked{
    text-decoration: line-through;
    color: gray;
}

.list-container li span{
   
    position: absolute;
    right: 0;
    font-size: 20px;
    color: rgb(120, 115, 115);
    /*padding: 10px;*/
    padding-left: 12px;
    padding-top: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.list-container li span:hover {
    background-color: rgb(246, 240, 240);
}


